<div class="container-xl">
  <div class="page-header d-print-none">
    <div class="row g-2 align-items-center">
      <div class="col">
        <h2 class="page-title">Editando Repertório</h2>
      </div>
    </div>
  </div>
  <div class="page-body">
    <div class="row row-cards">
      <div class="col-12">
        <%= render "form", repertory: @repertory %>
      </div>
    </div>

    <br>

    <div>
      <%= link_to "Show this repertory", @repertory %> |
      <%= link_to "Back to repertories", root_path %>
    </div>
  </div>
</div>
